h1 {
  color: blue;
  background-color: white;
}
h5 {
    color: blue;
}
p {
  color: dark-blue;
}
.maintextblock {
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: silver;
    opacity: 0.8;
}
.textblock {
  margin: auto;
  width: 60%;
  padding: 20px;
  background-color: silver;
  opacity: 0.8;
}
.logo {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: grey;
}
.card-text {
    color: navy;
}
.footer {
    position: absolute;
    right: 0px;
    width: 180px;
    padding: 10px;
    margin-top: 120px;
    margin-right: 40px;
    background-color: white;
    opacity: 0.8;
}
