body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: navy;
}
.logo {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: grey;
}
.card-text {
    color: navy;
}
.footer {
    height: 60px;  /* footer height */
    margin-top: 40px; /* space between content and footer */
    position: relative;
    width: 100%;
    margin-right: 40px;
}